<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    </head>
    <body>
        <div id="content" ng-app="myApp" ng-controller="myController" >
            <nav class="navbar navbar-default" id="navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <p class="navbar-text">Pathfinder Helper</p>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Spell Lists</a></li>
                    </ul>
                </div>
            </nav>
            <input id="searchBox" type="text" ng-model="search_term" placeholder="Enter your search terms">
            <table>
                <tr>
                    <th ng-repeat="x in titles">{{x}}<th>
                </tr>
                <tr>
                    <td>{{spells}}</td>
                    <!--
                    <td>{{spell.name}}</td>
                    <td>{{spell.school}}</td>
                    <td>{{spell.level}}</td>
                    <td>{{spell.casting_time}}</td>
                    <td>{{spell.components}}</td>
                    <td>{{spell.range}}</td>
                    <td>{{spell.area}}</td>
                    <td>{{spell.duration}}</td>
                    <td>{{spell.saving_throw}}</td>
                    <td>{{spell.spell_resistance}}</td>
                    <td>{{spell.description}}</td>
                    <td>{{spell.target}}</td>-->
                </tr>
            </table>
            <script src="code.js"></script>
        </div>
    </body>
</html>