<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    </head>
    <body>
        <div id="content" ng-app="myApp" ng-controller="myController" >
            <nav class="navbar navbar-default" id="navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <p class="navbar-text">Pathfinder Helper</p>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Spell Lists</a></li>
                    </ul>
                </div>
            </nav>
            <input id="searchBox" type="text" ng-model="search_term" placeholder="Enter your search terms">
            <table>
                <tr>
                    <th ng-repeat="x in titles">{{x}}<th>
                </tr>
                <tr ng-repeat="y in spells | filter : search_term">
                    <td class="name" >{{y.name}}</td>
                    <td class="school">{{y.school}}</td>
                    <td class="level">{{y.level}}</td>
                    <td class="time">{{y.casting_time}}</td>
                    <td class="components" ng-bind-html="y.components"></td>
                    <td class="range">{{y.range}}</td>
                    <td class="area">{{y.area}}</td>
                    <td class="duration">{{y.duration}}</td>
                    <td class="saving" ng-bind-html="y.saving_throw"></td>
                    <td class="resist">{{y.spell_resistance}}</td>
                    <td class="desc" ng-bind-html="y.description"></td>
                </tr>
            </table>
            <script src="code.js"></script>
        </div>
    </body>
</html>