/* Note: This is not my CSS. I am simply using it to see if my AngularJS is working in a similar fashion to the one on the
example website located here https://tutorialzine.com/2013/08/learn-angularjs-5-examples */

#searchBox {
    margin-bottom: 25px;
}

#content {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    text-align: left;
    padding-right: 2px;
}

th {
    padding: 10px 20px 10px;
    text-align: center;
}

table, td, th {
    border: 1px solid black;
}

.name {
    max-width: 100px;
}

.level {
    width: 100px;
    max-width: 100px;
}

.time {
    width: 100px;
    max-width: 550px;
}

.components {
    width: 70px;
}

.range {
    width: 70px;
}

.area {
    width: 100px;
}

.duration {
    max-width: 100px;
}

.saving {
    width: 100px;
}

.resist {
    max-width: 20px;
}