/* Note: This is not my CSS. I am simply using it to see if my AngularJS is working in a similar fashion to the one on the
example website located here https://tutorialzine.com/2013/08/learn-angularjs-5-examples */

#content {
    text-align: center;
}

table {
    width: 100%;
}

td {
    text-align: left;
}

.name {
    max-width: 100px;
}

.level {
    max-width: 50px;
}

.time {
    max-width: 50px;
}

.components {
    max-width: 50px;
}

.range {
    max-width: 50px;
}

.area {
    max-width: 50px;
}

.duration {
    max-width: 100px;
}

.saving {
    max-width: 50px;
}

.resist {
    max-width: 20px;
}

th {
    padding: 10px 20px 10px;
}